#navbar{
    background-color: #0f1111;
    height :60px;
    border: white;
    border-width: 5px;
    border-style: solid;
}

*{
    padding : 0;
    border : 0;
    color: white;
}

button{
    background-color: #f08804;
    padding-left: 2px;
    padding-right: 2px;
}

#logo{
    color: #f08804;
    font-size: 25px;
    margin-left: 10px;
    
}

a{
    margin-right: 200px;   
    margin-top: 1px;
}

html{
    background-color: blue;
}


